        * {
            /*以下三行清除g[器AO排版*/
            margin: 0px;
            padding: 0px;
            list-style: none;
            box-sizing: border-box;
            font-family: 'Montserrat', 微正黑w, sans-serif;
        }
        body {
            /*W站底色-米白色*/
            background-color: rgba(252, 244, 217, 0.7);
        }
        /* 以下是奶爸 */
        .myNav {
            /*奶爸底色-{灰色*/
            background-color: #A8DADC !important;
            height: 80px;
            width: 100%;
            /*奶爸立w影*/
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
            /*配合RWD避免跑版*/
            padding: 0px;
            /*避免些微空隙*/
            top: -1px;
        }
        /* logoD */
        .myNav .mylogo {
            /* logo不要太靠 */
            margin-left: 50px;
            /*logo size*/
            width: 100px;
            height: 80px;
        }
        .myNav .mylogoWord {
            /*logoWord size*/
            width: 200px;
            height: 80px;
        }
        /* 奶爸下拉x */
        .myUndeLine {
            /* x伍g距 */
            margin-right: 5px;
        }
        .myUndeLine li {
            width: 150px;
            /* [藏x */
            height: 60px;
            /* y用 */
            /* height: 300px; */
            overflow: hidden;
            /* 靠底比^美^ */
            margin-top: 20px;
            /* BY文字置中 */
            text-align: center;
        }
        .myUndeLine li:hover {
            /* @示x */
            height: auto;
            color: #457b9d !important;
        }
        /* {整第一的x伍L度 */
        .myUndeLine li .myFirst {
            margin-bottom: 4px;
        }
        /*下拉x*/
        .morelink {
            /* x紊舷麻g距 */
            padding-bottom: 15px;
            display: block;
            background-color: #A8DADC !important;
        }

        /* 奶爸超BY文字 */
        .myNavDiv li a {
            /*文字色-y白色，影底色-深{色*/
            color: #F1FAEE !important;
            text-shadow: 1px 1px 3px #457b9d;
            font-size: 22px;
            font-weight: bold;
            padding-top: 15px;
        }
        .myNavDiv li a:hover {
            /*文字色-深{色，影底色-\{色*/
            color: #457b9d !important;
            text-shadow: 1px 1px 1px #A8DADC;
        }
        /*改英文*/
        .myUndeLine a:hover .ch-word {
            display: none;
            /* left: -999em; */
        }
        .en-word {
            display: none;
        }
        .myUndeLine a:hover .en-word {
            display: block;
        }
        /* 以上是奶爸所有的下拉x */

        /*登入按o*/
        .collapse .myBtn {
            /*移除所有AO*/
            border: none;
            outline: none;
            -webkit-appearance: none;
            /* Safari 和 Chrome，常用於iOS下移除冉邮 */
            -moz-appearance: none;
            /* FireFox */
            appearance: none;
            /*以上移除所有buttonAO*/

            color: #fff;
            background-color: #FAA307;
            text-align: center;
            font-size: 20px;
            font-weight: bolder;
            /*大小位置*/
            width: 100px;
            padding: 2px;
            margin: 10px 50px 0px 10px;
            /*鼠*/
            cursor: pointer;
            /*A角*/
            border-radius: 7px;

            /*延t赢*/
            transition-duration: 0.2s;
            overflow: hidden;
        }
        .collapse .myBtn:hover {
            color: #FF7260 !important;
            background-color: #fff;
            text-shadow: 1px 1px 2px #fff;
            box-shadow: 0px 2px 5px #97B1BF;
        }
        .myBtn:active, .myBtn:focus {
            color: #fff !important;
            background-color: #FF7260;
        }
        /* 以上是登入按o */

        /*客服聊天室按o*/
        .qaicon {
            position: fixed;
            bottom: 20px;
            margin: auto;
            right: 10px;
            z-index: 9;
        }
        .qaicon img {
            width: 80px;
            height: 80px;
        }
        /*以上客服聊天室按o*/

        /*以下是追bodyO定*/
        .container {
            position: relative;
            top: 20px;
            margin: 60px auto;
            width: 95%;
        }
        .myH1 {
            color: #FF7A5A;
            font-weight: 900;
            margin: 40px auto;
        }
        .myFavorites {
            color: rgba(80, 80, 80, 0.7);
            font-weight: 800;
            font-size: 20px;
        }
        .myFavorites:hover {
            color: #FFF;
            background-color: rgba(255, 114, 95, 0.5);
            border: 1px solid rgba(255, 114, 95, 0.2) !important;
        }
        .myFavorites:focus {
            color: #FFF;
            /*r先用背景色代替，想要改成出F坌*/
            background-color: #FF7260;
        }

        /*以下是追小卡*/
        .card-deck {
            margin: 20px auto;
        }
        .card {
            border: 1px solid rgba(252, 244, 217, 0.7);
        }
        /*卡片大小*/
        .card img {
            margin-top: 10px;
            height: 280px;
            border-radius: 5px;
        }
        h5 {
            font-weight: 700;
        }
        .card-link {
            float: right;
        }
        .cutePage {
            height: 120px;
            text-align: center;
        }
        .page {
            width: 40px;
            height: 40px;
            display: inline-block;
            margin: 10px;
        }
        /*以上bodyO定*/

        /*以下O定footer*/
        .main-footer {
            background-color: #264653;
            color: #fff;
            padding-top: 30px;
            padding-bottom: 15px;
        }
        .myFooterContainer ul {
            list-style-type: none;
            margin: 5px auto;
            padding: 0px;
            text-align: center;
        }
        .myFooterContainer ul li {
            margin-top: 20px;
        }
        .myFooterLink {
            text-decoration: none;
            color: #fff;
        }
        .myFooterLink:hover {
            text-decoration: none;
            color: #fff;
            text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
        }
        /*版嘧*/
        .copyright {
            color: #000;
            margin: 10px 0px 0px 0px;
        }
        /*X幕赢*/
        @media (min-width: 992px) {
            /* 下拉x未笪幕高度 */
            .myUndeLine {
                height: 80px;
                border-bottom: 5px solid #A8DADC;
            }
            .myUndeLine:hover {
                border-bottom: 5px solid #457b9d;
            }
        }
        /* 平板、手C等中幕 */
        @media (max-width: 991px) {
            /*手C不放logo*/
            .myNav .mylogo {
                display: none;
            }
            /*h堡下拉*/
            .myNavDiv {
                background-color: rgba(168, 218, 220, 0.5);
                text-align: center;
            }
            /* h堡下拉後的x慰蚩 */
            .myUndeLine li {
                width: 80%;
                margin: 0 auto;
            }
            .myUndeLine li:hover {
                margin: 0 auto;
                border: 1px solid rgba(69, 123, 157, 0.7);
            }
            /*下拉x*/
            .morelink {
                /* x紊舷麻g距 */
                padding-bottom: 5px;
                display: block;
                background-color: transparent !important;
            }
            .myUndeLine li a:hover {
                background-color: rgba(168, 218, 220, 0.6) !important;
            }
            /*登入按o*/
            .collapse .myBtn {
                margin: 15px auto;
            }
            .collapsing .myBtn {
                margin: 15px auto;
                overflow: hidden;

                color: #fff;
                background-color: #FAA307;
                text-align: center;
                font-size: 20px;
                font-weight: bolder;
                /*大小位置*/
                width: 100px;
                padding: 2px;
                /*A角*/
                border-radius: 7px;
                /*移除所有AO*/
                border: none;
                outline: none;
            }
            /*以上登入按o*/
            .container {
                padding-left: 0px;
                padding-right: 0px;
            }
            /*卡片photoL度sp*/
            .card img {
                height: 180px;
            }

        }
        /*手CRWD*/
        @media (max-width: 767.98px) {}